<div class="card">
  <div class="product-image">
    <img src="assets/placeholder.png" alt="{{ product.productName }}" />
  </div>
  <!-- <div class="placeholder-div"></div> -->
  <div class="card-body">
    <h5 class="card-title">{{ product.productName }}</h5>
    <div class="price">₹{{ product.price }}</div>
    <div class="rating">
      <span class="stars">{{ getStarRating() }}</span>
    </div>
    <button
      class="btn-wishlist"
      [class.in-wishlist]="isInWishlist"
      (click)="onWishlistClick()"
    >
      @if (isInWishlist) {
      <i class="fas fa-trash"></i>
      <span>Remove from Wishlist</span>
      } @else {
      <i class="fas fa-heart"></i>
      <span>Add to Wishlist</span>
      }
    </button>
  </div>
</div>
